<section class="row">
  <div class="col-sm-12" *ngIf="this.task">
    <div class="col-12 mb-2">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h3>{{this.task.description}}</h3>
          </div>
          <h6 class="text-muted">Cód: {{this.task.id}}</h6>
        </div>
        <div class="card-block">

          <div class="form-group row">
            <label class="col-md-2 control-label">Ação:</label>
            <div class="col-md-10">
              <p>{{this.task.customerStep.customerProcess.description}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Etapa: </label>
            <div class="col-md-10">
              <p>{{this.task.customerStep.description}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Consultor Responsável:</label>
            <div class="col-md-10">
              <p>{{this.task.owner.name}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Instruções:</label>
            <div class="col-md-10">
              <p>{{this.task.instructions}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Duração:</label>
            <div class="col-md-10">
              <p>{{this.task.duration}} minutos</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Usuário Consultoria:</label>
            <div class="col-md-10">
              <p>{{this.task.consultant.name}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">Usuário Cliente:</label>
            <div class="col-md-10">
              <p>{{this.task.customerUser.name}}</p>
            </div>
          </div>

          <!-- <app-content></app-content> -->

          <div class="form-group row mt-4" *ngIf="this.showActionsMenu">
            <label class="col-md-2 control-label">Ações:</label>
            <div *ngIf="this.canFinishTask">
              <button class="btn btn-lg btn-outline-primary" (click)="finishTask(this.task.id)">
                <span class="fa fa-check"></span> Finalizar
              </button>
            </div>
            <div *ngIf="this.canTransferTask">
              <button class="btn btn-lg btn-outline-primary" (click)="openModal(contentTransfer)">
                <span class="fa fa-share"></span> Transferir
              </button>
            </div>
            <div *ngIf="this.canRescheduleTask">
              <button class="btn btn-lg btn-outline-primary" (click)="rescheduleTaskModal(content)">
                <span class="fa fa-clock-o"></span> Reprogramar
              </button>
            </div>
            <div *ngIf="this.canReopenTask">
              <button class="btn btn-lg btn-outline-primary" (click)="reopenTask(this.task.id)">
                <span class="fa fa-refresh"></span> Reabrir
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <app-comments commentType="task" [(genericId)]="this.task.id"></app-comments>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-lg btn-outline-primary" (click)="goBack()">
      <span class="fa fa-arrow-left"></span> Voltar
    </button>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reprogramar Tarefa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="txtStartDate">Novo Prazo:</label>
        <div class="input-group">
          <input #txtStartDate id="txtNewDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker" value="{{this.today | date: 'yyyy-MM-dd'}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dp.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="rescheduleTask(txtStartDate.value)">Confirmar</button>
  </div>
</ng-template>

<ng-template #contentTransfer let-modalTransfer>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Transferir Cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalTransfer.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="lstUsers">Consultor</label>
        <div class="input-group">
          <select #lstConsultants id="lstConsultants" class="custom-select form-control">
            <option value="">Selecione</option>
            <option *ngFor="let consultant of this.consultantsList" value="{{consultant.id}}">
              {{consultant.name}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="transferTask(lstConsultants.value)">Transferir</button>
  </div>
</ng-template>