<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Plano de Vôo</h3>
      </div>
      <div class="card-block btn-margins">
        <h3 class="mb-4">Cliente: {{this.customer.name}}</h3>
        <button class="btn btn-warning margin mr-1" (click)="openModal(contentFlightplan)" type="button"><span
            class="fa fa-search"></span> Visualizar Plano de Vôo</button>
        <h5 class="mb-4 mt-4">Encontros: </h5>
        <div>
          <div class="mb-4 ml-2 row">
            <div *ngIf="this.meetings.length == 0">
              <p>Não há encontros cadastrados para este cliente!</p>
              <button class="btn btn-lg btn-outline-primary" (click)="registerMeetings()">Cadastrar Encontros</button>
            </div>
            <div class="margin" *ngFor="let meeting of this.meetings | orderBy: 'date'">
              <button
                class="{{(this.selectedMeeting && this.selectedMeeting.id == meeting.id ? 'btn btn-lg btn-primary btn-steps margin' : 'btn btn-lg btn-primary btn-steps-selected margin')}}"
                (click)="selectMeeting(meeting)" type="button">
                {{meeting.date | date: 'dd/MM/yyyy'}}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="this.selectedMeeting">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Plano de Vôo - Encontro {{this.selectedMeeting.date | date: 'dd/MM/yyyy'}}
              </h3>
              <h6 class="text-muted">Cód. Encontro: {{this.selectedMeeting.id}}</h6>
            </div>
            <div class="card-block">
              <h5 class="mt-4 mb-4">Ações</h5>
              <p *ngIf="this.filteredCustomerProcesses.length == 0">Não há ações definidas para este encontro!
              </p>

              <div class="table-responsive" *ngIf="this.filteredCustomerProcesses.length > 0">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Descrição</th>
                      <th scope="col">Dt. Início</th>
                      <th scope="col">Dt. Estimada Fim</th>
                      <th scope="col">Dt. Finalização</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let process of this.filteredCustomerProcesses | orderBy: 'startDate'">
                      <td>{{ process.description }}</td>
                      <td>{{ process.startDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ process.estimatedEndDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ process.endDate | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <button class="btn btn-warning margin" (click)="openModal(content)" type="button"><span
                  class="fa fa-plus"></span>
                Ação</button>

              <div class="mt-4">
                <app-comments commentType="meeting" [(genericId)]="this.selectedMeeting.id"></app-comments>
              </div>
            </div>
          </div>
        </div>

        <div class="floating-container mb-4">
          <div class="floating-content">
            <button class="btn btn-lg btn-secondary" (click)="goBack()" type="button">
              <span class="fa fa-arrow-left"></span> Voltar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <app-add-action [modal]="modal" [customerProcessesList]="customerProcessesList" [customer]="customer" (reloadCustomerProcess)="loadCustomerProcesses($event)"></app-add-action>
</ng-template>


<ng-template #contentProcessView let-modalProcessView>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Visualização de Ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalProcessView.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <app-process-view [(modelProcessId)]="this.selectedModelProcessId"></app-process-view>
    </div>
  </div>
</ng-template>

<ng-template #contentFlightplan let-modalFlightplan>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Visualização de Plano de Vôo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalFlightplan.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let meeting of this.meetings | orderBy: 'date'">
      <h4 class="mb-2">Encontro de {{meeting.date | date: 'dd/MM/yyy'}}</h4>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Descrição</th>
              <th scope="col">Dt. Início</th>
              <th scope="col">Dt. Estimada Fim</th>
              <th scope="col">Dt. Finalização</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="meeting.processes.length == 0">
              <td colspan="4">Não há ações definidas para este encontro!</td>
            </tr>
            <tr *ngFor="let process of meeting.processes | orderBy: 'startDate'">
              <td>{{ process.description }}</td>
              <td>{{ process.startDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ process.estimatedEndDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ process.endDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>