<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Plano de Vôo</h3>
      </div>
      <div class="card-block btn-margins">
        <h3 class="mb-4">Cliente: {{this.customer.name}}</h3>
        <h5 class="mb-4">Encontros: </h5>
        <div>
          <div class="mb-4 ml-2 row">
            <p *ngIf="this.meetings.length == 0">Não há encontros cadastardos para este cliente!</p>
            <div class="margin" *ngFor="let meeting of this.meetings | orderBy: 'date'">
              <button class="btn btn-lg btn-primary btn-steps margin" (click)="selectMeeting(meeting)" type="button">
                {{meeting.date | date: 'dd/MM/yyyy'}}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="this.selectedMeeting">
          <div>
            <h5 class="mb-4">Plano de Vôo - Encontro {{this.selectedMeeting.date | date: 'dd/MM/yyyy'}}</h5>
            <p *ngIf="this.filteredCustomerProcesses.length == 0">Não há planos de ação definidos para este encontro!
            </p>

            <div class="table-responsive" *ngIf="this.filteredCustomerProcesses.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Dt. Início</th>
                    <th scope="col">Dt. Estimada Fim</th>
                    <th scope="col">Dt. Finalização</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let process of this.filteredCustomerProcesses | orderBy: 'startDate'">
                    <td>{{ process.description }}</td>
                    <td>{{ process.startDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ process.estimatedEndDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ process.endDate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <button class="btn btn-warning margin" (click)="openProcessModal(content)" type="button"><span
                class="fa fa-plus"></span>
              Plano de Ação</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Iniciar Processo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="lstModelProcess">Processo</label>
        <div class="input-group">
          <select #lstModelProcess id="lstModelProcess" class="custom-select form-control">
            <option *ngFor="let modelProcess of modelProcessesList" value="{{modelProcess.id}}">
              {{modelProcess.description}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="lstUsers">Usuário Responsável</label>
        <div class="input-group">
          <select #lstUsers id="lstUsers" class="custom-select form-control">
            <option *ngFor="let user of this.customer.users" value="{{user.id}}">
              {{user.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="txtStartDate">Data de Início</label>
        <div class="input-group">
          <input #txtStartDate id="txtStartDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker" value="{{this.today | date: 'yyyy-MM-dd'}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dp.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="addProcess(lstModelProcess.value, lstModelProcess[lstModelProcess.selectedIndex].text, lstUsers.value, txtStartDate.value)">Confirmar</button>
  </div>
</ng-template>