<section class="row">
  <div class="col-12">
    <div class="customer-info">
      <img src="/assets/images/user-icon.jpg" alt="profile photo" class="circle float-left profile-photo customerLogo"
        width="50" height="auto" />
      <h2 class="mb-2">{{customer.name}}</h2>
      <p *ngIf="customer.customerLevel" class="text-muted">Nível de Cliente: {{customer.customerLevel.description}}</p>
      <p *ngIf="customer.consultant" class="text-muted">Consultor Responsável: {{customer.consultant.name}}</p>
      <p class="text-muted">Telefone: {{(customer.phone && customer.phone != '' ? customer.phone : 'Não informado')}}
      </p>
      <a href="https://{{customer.storeUrl}}" target="_blank">https://{{customer.storeUrl}}</a>

      <div class="mt-4">
        <h3>Contatos do Cliente</h3>
        <div *ngFor="let user of this.customer.users">
          <p class="text-muted">Nome: {{user.name}}</p>
          <p class="text-muted">E-mail: {{user.email}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="this.loggedUser.userType.description != 'Cliente'" class="mt-4 mb-4">
      <button class="btn btn-warning margin mr-1" (click)="openModal(content)"
        type="button"><span class="fa fa-plus"></span> Ação</button>
      <button *ngIf="this.loggedUser.userType.description != 'Implantador'" class="btn btn-warning margin mr-1"
        (click)="customerMeetings()" type="button"><span class="fa fa-users"></span>
        Encontros</button>
      <button *ngIf="this.loggedUser.userType.description != 'Implantador'" class="btn btn-warning margin mr-1"
        (click)="customerFlightplan()" type="button"><span class="fa fa-plane"></span>
        Plano de Vôo</button>
      <button class="btn btn-warning margin mr-1" (click)="openModal(contentTransfer)" type="button"><span
          class="fa fa-share"></span>
        Transferir</button>
      <button class="btn btn-warning margin mr-1" (click)="openModal(contentComments)" type="button"><span
          class="fa fa-comment-o"></span>
        Comentários</button>
      <button class="btn btn-warning margin mr-1" (click)="editCustomer()" type="button"><span
          class="fa fa-edit"></span>
        Editar</button>
    </div>

    <div *ngIf="customerProcessesList && customerProcessesList.length == 0">
      <p>Não há ações iniciadas para este cliente!</p>
    </div>
    <div *ngIf="customerProcessesList && customerProcessesList.length > 0">
      <div *ngFor="let process of customerProcessesList | orderBy: 'startDate'">
        <h5 class="margin-top-bottom"><em (click)="toggleElement($event.target)" class="fa fa-chevron-down"></em>
          Ação: {{process.description}} -
          {{(process.detail != null && process.detail != ''  ? process.detail + ' - ' : '')}}
          {{process.startDate | date: 'dd/MM/yyyy'}} a
          {{process.estimatedEndDate | date: 'dd/MM/yyyy'}}</h5>
        <h6 class="text-muted">Cód. Ação: {{process.id}}</h6>
        <div class="col-lg-12">
          <div class="row mt-2">
            <button class="btn btn-warning margin mr-1"
              (click)="openRescheduleProcessModal(contentRescheduleProcess, process.id)" type="button"><span
                class="fa fa-clock-o"></span> Replanejar ação</button>
            <button *ngIf="this.canDeleteProcess" class="btn btn-danger margin mr-1" (click)="deleteProcess(process.id)"
              type="button"><span class="fa fa-trash"></span>
              Remover</button>
          </div>
          <div class="card mt-4" *ngFor="let step of process.customerSteps | orderBy: 'startDate'">
            <div class="card-header">
              <h4>{{step.description}} - {{step.startDate | date: 'dd/MM/yyyy'}} a
                {{step.estimatedEndDate | date: 'dd/MM/yyyy'}}</h4>
              <h6 class="text-muted">Cód. Etapa: {{step.id}}</h6>
              <button class="btn btn-warning margin mr-1" (click)="finishStep(step.id, $event)" type="button"><span
                  class="fa fa-check"></span> Finalizar etapa</button>
              <button class="btn btn-warning margin mr-1"
                (click)="openRescheduleStepModal(contentRescheduleStep, step.id)" type="button"><span
                  class="fa fa-clock-o"></span> Replanejar etapa</button>
            </div>
            <div class="card-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Início</th>
                      <th scope="col">Previsão</th>
                      <th scope="col">Conclusão</th>
                      <th scope="col">Status</th>
                      <th scope="col">Duração</th>
                      <th scope="col">Responsável</th>
                      <th scope="col">Tarefa</th>
                      <th scope="col">Finalizar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let task of step.customerTasks | orderBy: 'startDate'">
                      <td>{{task.startDate | date: 'dd/MM'}}</td>
                      <td>{{task.estimatedEndDate | date: 'dd/MM'}}
                      <td>{{task.endDate | date: 'dd/MM'}}
                      </td>
                      <td><span class="{{this.loadClassIndicator(task)}}"></span>
                      </td>
                      <td>
                        <div>{{task.duration}} min</div>
                      </td>
                      <td>{{task.taskType.description}}</td>
                      <td>
                        <h4><a href="javascript:void(0)"
                            (click)="updateSelectedTask(this.task, $event)">{{task.description}}</a>
                        </h4>
                      </td>
                      <td>
                        <button *ngIf="task.endDate == null" class="btn btn-success margin mr-1"
                          (click)="finishTask(task.id, $event)" type="button"><span class="fa fa-check"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Iniciar Ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="lstModelProcess">Ação (obrigatória)</label>
        <div class="input-group">
          <select #lstModelProcess id="lstModelProcess" (change)="updateSelectedModelProcess($event.target.value)"
            class="custom-select form-control">
            <option value="">
              Selecionar
            </option>
            <option *ngFor="let modelProcess of modelProcessesList" value="{{modelProcess.id}}">
              {{modelProcess.description}}
            </option>
          </select>
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-warning margin mr-1" (click)="openModal(contentProcessView)" type="button"><span
              class="fa fa-search"></span> Visualizar Ação</button>
        </div>
      </div>
      <div class="form-group">
        <label for="txtStartDate">Detalhes (opcional)</label>
        <div class="input-group">
          <input #txtDetail id="txtDetail" class="form-control" placeholder="(Ex.: produto X ou categoria Y)">
        </div>
      </div>
      <div class="form-group">
        <label for="lstConsultantsStartProcess">Consultor (obrigatório)</label>
        <div class="input-group">
          <select #lstConsultantsStartProcess id="lstConsultantsStartProcess" class="custom-select form-control"
            [disabled]="!this.canAssignTask">
            <option value="">
              Selecionar
            </option>
            <option *ngFor="let consultant of this.consultantsList" value="{{consultant.id}}"
              [selected]="((!canAssignTask && this.loggedUser.id == consultant.id) ? true : false)">
              {{consultant.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="lstUsers">Cliente (obrigatório)</label>
        <div class="input-group">
          <select #lstUsers id="lstUsers" class="custom-select form-control">
            <option *ngFor="let user of this.customer.users" value="{{user.id}}">
              {{user.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="txtStartDate">Data de Início (obrigatório)</label>
        <div class="input-group">
          <input #txtStartDate id="txtStartDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker" value="{{this.today | date: 'yyyy-MM-dd'}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dp.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="startCustomerProcess(lstModelProcess.value, lstModelProcess[lstModelProcess.selectedIndex].text, txtDetail.value, lstConsultantsStartProcess.value, lstUsers.value, txtStartDate.value)">Incluir</button>
  </div>
</ng-template>

<ng-template #contentTransfer let-modalTransfer>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Transferir Cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalTransfer.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="lstUsers">Consultor</label>
        <div class="input-group">
          <select #lstConsultants id="lstConsultants" class="custom-select form-control">
            <option value="">Selecione</option>
            <option *ngFor="let consultant of this.consultantsList" value="{{consultant.id}}">
              {{consultant.name}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="transferCustomer(lstConsultants.value)">Transferir</button>
  </div>
</ng-template>

<ng-template #contentComments let-modalComments>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.customer.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalComments.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <app-comments commentType="customer" [(genericId)]="this.customer.id"></app-comments>
    </div>
  </div>
</ng-template>

<ng-template #contentProcessView let-modalProcessView>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Visualização de Ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalProcessView.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <app-process-view [(modelProcessId)]="this.selectedModelProcessId"></app-process-view>
    </div>
  </div>
</ng-template>

<ng-template #contentRescheduleStep let-modalRescheduleStep>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Replanejar Etapa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRescheduleStep.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <form>
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Dias Úteis a Adicionar: </label>
            <div class="col-md-8">
              <input #txtBusinessDaysToAdd id="txtBusinessDaysToAdd" type="number" value="1" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="rescheduleStep(txtBusinessDaysToAdd.value)">Replanejar
      Etapa</button>
  </div>
</ng-template>

<ng-template #contentRescheduleProcess let-modalRescheduleProcess>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Replanejar Ação</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRescheduleProcess.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <form>
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Dias Úteis a Adicionar: </label>
            <div class="col-md-8">
              <input #txtBusinessDaysToAdd id="txtBusinessDaysToAdd" type="number" value="1" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="rescheduleProcess(txtBusinessDaysToAdd.value)">Replanejar
      Ação</button>
  </div>
</ng-template>