<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
        <li class="active">Tarefas</li>
    </ol>
</div>

<div class="row">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="{{this.customer.logoUrl}}" width="50" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">{{this.customer.name}}</div>
            <div class="profile-usertitle-status">Classificação: {{this.customer.step}}</div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div *ngFor="let process of processesList | orderBy: 'startDate'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Processo: {{process.description}} - {{process.startDate | date: 'dd/MM/yyyy'}} a {{process.estimatedEndDate | date: 'dd/MM/yyyy'}}</h1>
        </div>
    </div>

    <div class="row" *ngFor="let step of process.customerSteps | orderBy: 'startDate'">
        <div class="col-md-12">
            <div class="panel panel-default articles">
                <div class="panel-heading">
                    {{step.description}} - {{step.startDate | date: 'dd/MM/yyyy'}} a {{step.estimatedEndDate | date: 'dd/MM/yyyy'}}
                    <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                            class="fa fa-toggle-up"></em></span>
                </div>
                <div class="panel-body articles-container"
                    *ngFor="let task of step.customerTasks | orderBy: 'startDate'">
                    <div class="article border-bottom">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-1 col-md-1 date">
                                    <div class="text-muted">De</div>
                                    <div class="large">{{task.startDate | date: 'dd/MM'}}</div>
                                    <div class="text-muted">{{task.startDate | date: 'yyyy'}}</div>
                                </div>
                                <div class="col-xs-1 col-md-1 date">
                                    <div class="text-muted">Até</div>
                                    <div class="large">{{task.estimatedEndDate | date: 'dd/MM'}}</div>
                                    <div class="text-muted">{{task.estimatedEndDate | date: 'yyyy'}}</div>
                                </div>
                                <div class="col-xs-10 col-md-10">
                                    <span class="{{this.loadClassIndicator(task)}}"></span>
                                    <div class="clear"></div>
                                    <h4><a (click)="updateSelectedTask(this.task, $event)">{{task.description}}</a></h4>
                                    <div *ngIf="task.endDate" class="text-muted">Finalizada em:
                                            {{task.endDate | date: 'dd/MM/yyyy HH:mm' }}</div>
                                        <div *ngIf="!task.endDate" class="text-muted">Duração: {{task.duration}}
                                            minutos</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>