<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Cadastro de Consultor</h3>
      </div>
      <div class="card-block">
        <form class="form">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Nome (obrigatório)</label>
            <div class="col-md-9">
              <input #txtName id="txtName" type="text" class="form-control mb-2" [(ngModel)]="this.consultant.name"
                [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">E-mail (obrigatório)</label>
            <div class="col-md-9">
              <input #txtEmail id="txtEmail" type="text" name="regular" class="form-control"
                [(ngModel)]="this.consultant.email" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Tipo de Usuário</label>
            <div class="col-md-9">
              <select #lstUserTypes id="lstUserTypes" class="form-control" [(ngModel)]="this.consultant.userTypeId"
                [ngModelOptions]="{ standalone: true }">
                <option value="">Não informado</option>
                <option *ngFor="let userType of this.userTypes"
                  [selected]="(this.consultant && this.consultant.userTypeId ? this.consultant.userTypeId == userType.id : false)"
                  value="{{userType.id}}">
                  {{userType.description}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Quantidade de Horas Disponíveis / Mês</label>
            <div class="col-md-9">
              <input #txtAvailableHoursMonth id="txtAvailableHoursMonth" type="number" min="1" max="400" name="regular"
                class="form-control" [(ngModel)]="this.consultant.availableHoursMonth"
                [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Endereço da Sala de Conferência</label>
            <div class="col-md-9">
              <input #txtConferenceRoomAddress id="txtConferenceRoomAddress" type="text" name="regular"
                class="form-control" [(ngModel)]="this.consultant.conferenceRoomAddress"
                [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Categorias</label>
            <div>
              <div *ngFor="let item of this.customerCategories">
                <input type="checkbox" class="checkbox" [checked]="this.isCustomerCategoryChecked(item.id)"
                  (change)="onCustomerCategoryChange($event, item)">
                {{item.description}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Níveis de Cliente</label>
            <div>
              <div *ngFor="let item of this.customerLevels">
                <input type="checkbox" class="checkbox" [checked]="this.isCustomerLevelChecked(item.id)"
                  (change)="onCustomerLevelChange($event, item)"> {{item.description}}
              </div>
            </div>
          </div>
        </form>
        <div class="mt-2">
          <button class="btn btn-lg btn-primary float-right" (click)="saveConsultant()">
            <span class="fa fa-check"></span> {{ this.isEdit ? 'Atualizar' : 'Salvar' }}
          </button>
          <button class="btn btn-lg btn-outline-primary float-right" (click)="goBack()" type="button">
            <span class="fa fa-arrow-left"></span> Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>