<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Cadastro de Encontros - Cliente: {{this.customer.name}}</h3>
      </div>
      <div class="card-block">
        <div class="card-block">
          <div class="mb-2">
            <p *ngIf="this.contract && this.contract.contractSituation">Contrato nº {{this.contract.number}} - Situação:
              {{this.contract.contractSituation.description}} - Vigência:
              {{this.contract.startDate | date: 'dd/MM/yyyy'}} a
              {{this.contract.endDate | date: 'dd/MM/yyyy'}}</p>
            <div class="card mt-2" *ngIf="this.plan">
              <div class="card-header">
                <h3 class="card-title">Plano: {{this.customer.plan ? this.customer.plan.description : 'Não informado'}}
                  - Duração: {{this.plan && this.plan.duration ? this.plan.duration + ' meses' : 'Não informado'}}
                </h3>
              </div>
              <div class="card-block row">
                <div class="col-4">
                  <p>Implantação: {{this.plan.implantationQuantity}}</p>
                  <p>Freq. Implantação: a cada {{this.plan.implantationFrequency}} dias</p>
                </div>
                <div class="col-4">
                  <p>Qtd. Consultoria: {{this.plan.consultingQuantity}}</p>
                  <p>Freq. Consultoria: a cada {{this.plan.consultingFrequency}} dias</p>
                </div>
                <div class="col-4">
                  <p>Qtd. Acompanhamento: {{this.plan.reviewQuantity}}</p>
                  <p>Freq. Acompanhamento: a cada {{this.plan.reviewFrequency}} dias</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="this.meetingsList.length == 0" class="row ml-4 mb-4">
            <div class="col-md-2">
              <label class="col-form-label">Número de Encontros: </label>
            </div>
            <div class="col-md-2">
              <input #txtQtyMeetings name="txtQtyMeetings" placeholder="Ex.: 12" type="number" class="form-control">
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning margin" (click)="suggestMeetings(txtQtyMeetings.value)" type="button"><span
                  class="fa fa-clock-o"></span>
                Sugerir</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Encontros</h3>
            </div>
            <div class="card-block">
              <p *ngIf="this.meetingsList.length == 0">Ainda não foram cadastardos encontros para este cliente!</p>
              <div class="mb-4 ml-2 row">
                <button class="btn btn-warning margin" (click)="addMeeting()" type="button"><span
                    class="fa fa-plus"></span>
                  Encontro</button>
                <button class="btn btn-warning margin" (click)="orderMeetings()" type="button"><span
                    class="fa fa-arrow-down"></span>
                  Ordenar</button>
              </div>
              <div>
                <p>Instruções: para alterar a data selecione-a no calendário da caixa de texto.</p>
              </div>
              <div class="row ml-2 mb-2" *ngFor="let meeting of this.meetingsList; let i = index">
                <div class="meeting-control row">
                  <p class="ml-2 text-muted">{{i + 1}}</p>
                  <input #txtMeetingDate name="txtMeetingDate" [ngModel]="meeting.date | date:'yyyy-MM-dd'"
                    (ngModelChange)="meeting.date=$event" [ngModelOptions]="{ standalone: true }" type="date"
                    class="meeting-date form-control ml-2">
                  <p class="ml-4 text-muted">{{dayOfWeek(meeting.date)}}</p>
                </div>
                <div class="meeting-type-container row">
                  <select [(ngModel)]="meeting.meetingTypeId" [ngModelOptions]="{ standalone: true }"
                    class="meeting-type-control form-control ml-2">
                    <option value=""></option>
                    <option *ngFor="let meetingType of this.meetingTypesList" value="{{meetingType.id}}"
                      [selected]="meeting.meetingTypeId == meetingType.id">
                      {{meetingType.description}}
                    </option>
                  </select>
                </div>
                <div class="ml-2">
                  <em (click)="removeMeeting(meeting)" class="fa fa-trash-o"></em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="floating-container mb-4">
          <div class="floating-content">
            <button class="btn btn-lg btn-secondary" (click)="goBack()" type="button">
              <span class="fa fa-arrow-left"></span> Voltar
            </button>
            <button class="btn btn-lg btn-primary" (click)="saveProcess()">
              <span class="fa fa-check"></span> Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>