<div class="card">
  <div class="card-header">
    <h5 class="card-title">Comentários</h5>
  </div>
  <div class="card-block">
    <div *ngIf="this.comments.length == 0">Ainda não há comentários para este registro!</div>
    <div class="card mb-2" *ngFor="let comment of this.comments">
      <div class="card-header">
        <p class="username">{{comment.user.name}}</p> em {{comment.date | date: 'dd/MM/yyyy HH:mm:ss'}}
      </div>
      <div class="card-block">{{comment.text}}</div>
    </div>
    <div class="add-comment row mb-4 mt-4">
      <textarea #txtComment name="txtComment" placeholder="Adicionar comentário" type="text" rows="3"
        class="form-control"></textarea>
    </div>
    <div class="mb-2">
      <button class="btn btn-warning margin" (click)="addComment(txtComment)" type="button"><span
          class="fa fa-paper-plane-o"></span>
        Enviar</button>
    </div>
  </div>
</div>