<header *ngIf="loggedUser" class="page-header row justify-center">
  <div class="col-md-6 col-lg-8">
    <h1 class="float-left text-center text-md-left">Dashboard</h1>
  </div>
  <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped"
      aria-haspopup="true" aria-expanded="false">
      <img src="/assets/images/user-icon.jpg" alt="profile photo" class="circle float-left profile-photo" width="50"
        height="auto">
      <div class="username mt-1">
        <h4 class="mb-1">{{loggedUser.name}}</h4>
        <h6 class="text-muted">{{loggedUser.userType.description}}</h6>
      </div>
    </a>
  </div>
  <div class="clear"></div>
</header>
<section class="row">
  <div class="col-sm-10">
    <div class="col-lg-8 mb-4 bg-default">
      <div class="card chart">
        <div class="card-header">
          <h3 class="card-title">Tarefas Atrasadas por Cliente</h3>
        </div>
        <div class="card-block">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" 
            [showDataLabel]="showDataLabel">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</section>