<header *ngIf="loggedUser" class="page-header row justify-center">
  <div class="col-md-6 col-lg-8">
    <h1 class="float-left text-center text-md-left">Clientes</h1>
  </div>
  <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped"
      aria-haspopup="true" aria-expanded="false">
      <img src="/assets/images/user-icon.jpg" alt="profile photo" class="circle float-left profile-photo" width="50"
        height="auto">
      <div class="username mt-1">
        <h4 class="mb-1">{{loggedUser.name}}</h4>
        <h6 class="text-muted">{{loggedUser.userType.description}}</h6>
      </div>
    </a>
  </div>
  <div class="clear"></div>
</header>
<section class="row">
  <div class="col-sm-12">
    <div class="col-12 mb-2">
      <div class="card mb-4">
        <div class="card-block">
          <h3 class="card-title">Selecione o cliente</h3>

          <div class="table-responsive ">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cliente</th>
                  <th scope="col">Processo</th>
                  <th scope="col">Etapa</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers">
                  <td>
                    <h4><a (click)="updateSelectedCustomer(customer, $event);">{{customer.name}}</a>
                    </h4>
                  </td>
                  <td>{{ customer.process ? customer.process : "Não iniciado" }}</td>
                  <td>{{ customer.step ? customer.step : "Não iniciado" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>