<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-block btn-margins">
        <h3 class="card-title">Cadastro de Plano de Ação</h3>
        <form class="form">
          <div class="form-group row mb-3 mt-4 pl-1">
            <div class="col-md-12">
              <label class="col-md-3 col-form-label">Descrição do Plano de Ação: </label>
              <input #txtProcessDescription name="txtProcessDescription" placeholder="Descrição"
                [(ngModel)]="this.modelProcess.description" [ngModelOptions]="{ standalone: true }" type="text"
                class="form-control mb-2">
            </div>
          </div>
          <h6 class="mb-4">Etapas: </h6>
          <div>
            <div class="mb-4 ml-2 row">
              <!-- Novas Etapas -->
              <div class="margin" *ngFor="let step of this.modelProcess.modelSteps | orderBy: 'description'">
                <button class="btn btn-lg btn-primary btn-steps margin" (click)="selectStep(step)" type="button">
                  {{step.description}}
                  <em (click)="removeStep(step)" class="fa fa-times"></em>
                </button>
              </div>
              <button class="btn btn-warning margin" (click)="addStep()" type="button"><span class="fa fa-plus"></span>
                Etapa</button>
            </div>
            <div *ngIf="this.selectedStep">
              <div class="mb-4">
                <label class="col-md-3 col-form-label">Descrição da Etapa: </label>
                <input #txtStepDescription name="txtStepDescription" [(ngModel)]="this.selectedStep.description"
                  placeholder="Nova Etapa" [ngModelOptions]="{ standalone: true }" type="text"
                  class="form-control mb-2">
              </div>
              <div>
                <h6 class="mb-4">Tarefas: </h6>
                <div class="mb-4">
                  <button class="btn btn-warning margin" (click)="addTask(this.selectedStep)" type="button"><span
                      class="fa fa-plus"></span> Tarefa</button>
                </div>
                <p *ngIf="this.selectedStep.modelTasks.length == 0">Ainda não foram cadastradas tarefas!</p>
                <!-- Tarefas -->
                <div class="card mb-2" *ngFor="let task of this.selectedStep.modelTasks | orderBy: 'startAfterDays'">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-10">
                        <input #txtTaskDescription name="txtTaskDescription" placeholder="Nova Tarefa"
                          [(ngModel)]="task.description" [ngModelOptions]="{ standalone: true }" type="text"
                          class="form-control mb-2">
                      </div>
                      <div class="col-2">
                        <em (click)="removeTask(task)" class="fa fa-times"></em>
                      </div>
                    </div>

                    <em (click)="toggleElement($event.target)" class="fa fa-chevron-down"></em>
                  </div>
                  <div class="card-block">
                    <form class="form">
                      <div class="form-group col-8 row">
                        <label class="col-md-2 col-form-label">Tipo de Tarefa: </label>
                        <div class="col-md-9">
                          <select #lstTaskType [name]="element" class="custom-select form-control task-type" required>
                            <option value=""></option>
                            <option
                              [selected]="(task && task.taskTypeId ? task.taskTypeId.toUpperCase() == 'E84138FE-A7C6-4724-865F-1C4CAB8BE234' : false)"
                              value="E84138FE-A7C6-4724-865F-1C4CAB8BE234">Consultor
                            </option>
                            <option
                              [selected]="(task && task.taskTypeId ? task.taskTypeId.toUpperCase() == 'A26F516B-6A6F-4159-8F4E-6CA3193BEA95' : false)"
                              value="A26F516B-6A6F-4159-8F4E-6CA3193BEA95">Cliente
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-8 row">
                        <label class="col-md-2 col-form-label">Instruções: </label>
                        <div class="col-md-10">
                          <input #txtTaskInstructions name="txtTaskInstructions" [(ngModel)]="task.instructions"
                            [ngModelOptions]="{ standalone: true }" type="text" class="form-control mb-2">
                        </div>
                      </div>
                      <div class="form-group col-8 row">
                        <label class="col-md-2 col-form-label">Duração (min): </label>
                        <div class="col-md-10">
                          <input #txtTaskDuration name="txtTaskDuration" [(ngModel)]="task.duration"
                            [ngModelOptions]="{ standalone: true }" type="number" class="form-control mb-2">
                          <h6 class="text-muted">Tempo a ser reservado para realização da tarefa.</h6>
                        </div>
                      </div>
                      <div class="form-group col-8 row">
                        <label class="col-md-2 col-form-label">Iniciar após (dias): </label>
                        <div class="col-md-10">
                          <input #txtStartAfterDays name="txtStartAfterDays" [(ngModel)]="task.startAfterDays"
                            [ngModelOptions]="{ standalone: true }" type="number" class="form-control mb-2">
                          <h6 class="text-muted">Quantidade de dias após o início da etapa.</h6>
                        </div>
                      </div>
                      <div class="form-group col-8 row">
                        <label class="col-md-2 col-form-label">Prazo (dias): </label>
                        <div class="col-md-10">
                          <input #txtDueDays name="txtDueDays" [(ngModel)]="task.dueDays"
                            [ngModelOptions]="{ standalone: true }" type="number" class="form-control mb-2">
                          <h6 class="text-muted">Quantidade de dias previstos para realizar a tarefa.</h6>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="floating-container mb-4">
      <div class="floating-content">
        <button class="btn btn-lg btn-secondary" (click)="goBack()" type="button">
          <span class="fa fa-arrow-left"></span> Voltar
        </button>
        <button class="btn btn-lg btn-primary" (click)="saveProcess()">
          <span class="fa fa-check"></span> {{ this.isEdit ? 'Atualizar' : 'Salvar' }}
        </button>
      </div>
    </div>
  </div>
</section>