<section class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Cadastro de Cliente</h3>
      </div>
      <div class="card-block">
        <form class="form">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Nome (obrigatório)</label>
            <div class="col-md-9">
              <input #txtName id="txtName" type="text" class="form-control mb-2"
                value="{{isEdit ? customer.name : ''}}">
              <h6 *ngIf="this.isEdit" class="text-muted">Cód. Cliente: {{this.customer.id}}</h6>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Situação (obrigatório)</label>
            <div class="col-md-9">
              <select #lstSituations id="lstSituations" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let situation of this.situationsList"
                  [selected]="(this.customer && this.customer.situation ? this.customer.situation.id == situation.id : false)"
                  value="{{situation.id}}">
                  {{situation.description}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Plano (obrigatório)</label>
            <div class="col-md-9">
              <select #lstPlans id="lstPlans" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let plan of this.plansList"
                  [selected]="(this.customer && this.customer.plan ? this.customer.plan.id == plan.id : false)"
                  value="{{plan.id}}">
                  {{plan.description}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Consultor Resp. (obrigatório)</label>
            <div class="col-md-9">
              <select #lstConsultants id="lstConsultants" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let consultant of this.consultantsList"
                  [selected]="(this.customer && this.customer.consultant ? this.customer.consultant.id == consultant.id : false)"
                  value="{{consultant.id}}">
                  {{consultant.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Nível de Cliente (obrigatório)</label>
            <div class="col-md-9">
              <select #lstCustomerLevels id="lstCustomerLevels" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let customerLevel of this.customerLevelsList"
                  [selected]="(this.customer ? this.customer.customerLevelId == customerLevel.id : false)"
                  value="{{customerLevel.id}}">
                  {{customerLevel.description}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">E-mail (obrigatório)</label>
            <div class="col-md-9">
              <input #txtEmail id="txtEmail" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.email : ''}}">
            </div>
          </div>
          <div *ngIf="this.isEdit" class="form-group row">
            <label class="col-md-3 col-form-label">Cadastrado em</label>
            <div class="col-md-9">
              <input type="text" name="regular" class="form-control" disabled="disabled"
                value="{{this.customer.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Telefone (obrigatório)</label>
            <div class="col-md-9">
              <input #txtPhone id="txtPhone" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.phone : ''}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Logotipo</label>
            <div class="col-md-9">
              <input #txtLogoUrl id="txtLogoUrl" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.logoUrl : ''}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">URL da loja</label>
            <div class="col-md-9">
              <input #txtStoreUrl id="txtStoreUrl" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.storeUrl : ''}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">URL da Análise de Loja</label>
            <div class="col-md-9">
              <input #txtStoreAnalysis id="txtStoreAnalysis" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.storeAnalysisUrl : ''}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Cidade</label>
            <div class="col-md-9">
              <select #lstCities id="lstCities" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let city of this.citiesList"
                  [selected]="(this.customer && this.customer.cityId ? this.customer.cityId == city.id : false)"
                  value="{{city.id}}">
                  {{city.name}} - {{city.state}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Plataforma</label>
            <div class="col-md-9">
              <select #lstPlatforms id="lstPlatforms" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let platform of this.platformsList"
                  [selected]="(this.customer && this.customer.platform ? this.customer.platform.id == platform.id : false)"
                  value="{{platform.id}}">
                  {{platform.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Categoria</label>
            <div class="col-md-9">
              <select #lstCategories id="lstCategories" class="custom-select form-control">
                <option value="">Não informado</option>
                <option *ngFor="let category of this.categoriesList"
                  [selected]="(this.customer && this.customer.category ? this.customer.category.id == category.id : false)"
                  value="{{category.id}}">
                  {{category.description}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Pasta do Cliente</label>
            <div class="col-md-9">
              <input #txtCustomerFolderUrl id="txtCustomerFolderUrl" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.customerFolderUrl : ''}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Descrição de Encontros</label>
            <div class="col-md-9">
              <input #txtMeetingsDescription id="txtMeetingsDescription" type="text" name="regular" class="form-control"
                value="{{this.isEdit ? this.customer.meetingsDescription : ''}}">
            </div>
          </div>
          <div #userInfo id="userInfo">
            <h4 class="modal-title mb-4" id="modal-basic-title">Dados do Usuário</h4>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Nome Usuário: </label>
              <div class="col-md-9">
                <input #txtUserName id="txtUserName" type="text" name="regular" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">E-mail Usuário</label>
              <div class="col-md-9">
                <input #txtUserEmail id="txtUserEmail" type="text" name="regular" class="form-control">
              </div>
            </div>
          </div>
        </form>
        <div>
          <button type="button" class="btn btn-lg btn-primary float-right"
            (click)="SaveCustomer(txtName.value, lstSituations.value, lstCustomerLevels.value, txtEmail.value, txtPhone.value, txtLogoUrl.value,
              txtStoreUrl.value, txtStoreAnalysis.value, lstCities.value, lstPlatforms.value, lstCategories.value, txtCustomerFolderUrl.value, txtMeetingsDescription.value, lstPlans.value, lstConsultants.value, txtUserName, txtUserEmail, true)">Salvar
            e Visualizar
            Cliente</button>
          <button type="button" class="btn btn-lg btn-primary float-right ml-1 mr-1"
            (click)="SaveCustomer(txtName.value, lstSituations.value, lstCustomerLevels.value, txtEmail.value, txtPhone.value, txtLogoUrl.value,
              txtStoreUrl.value, txtStoreAnalysis.value, lstCities.value, lstPlatforms.value, lstCategories.value, txtCustomerFolderUrl.value, txtMeetingsDescription.value, lstPlans.value, lstConsultants.value, txtUserName, txtUserEmail, false)">Salvar</button>
          <button class="btn btn-lg btn-outline-primary float-right" (click)="goBack()">
            <span class="fa fa-arrow-left"></span> Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>