<section class="row">
  <div class="col-sm-12">
    <div class="col-12 mb-2">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">Listagem de Clientes</h3>
        </div>
        <div class="card-block">
          <div *ngIf="this.canAddCustomer" class="mb-4">
            <button class="btn btn-warning margin" (click)="customerRegistration()" type="button"><span
                class="fa fa-plus"></span>
              Cliente</button>
          </div>
          <div class="filters row">
            <div class="col-1">
              <label>Consultor: </label>
            </div>
            <div class="col-3">
              <select #lstConsultant name="lstConsultant" class="custom-select form-control">
                <option value="">Todos</option>
                <option *ngFor="let consultant of this.consultantsList" value="{{consultant.id}}">
                  {{consultant.name}}</option>
              </select>
            </div>
            <div class="col-1">
              <label>Nome: </label>
            </div>
            <div class="col-3">
              <input #txtCustomerName name="txtCustomerName" class="form-control"
                (keydown.enter)="filterResults(lstConsultant.value, txtCustomerName.value, lstSituation.value, lstPlan.value)"
                type="text">
            </div>
          </div>
          <div class="filters row">
            <div class="col-1">
              <label>Situação: </label>
            </div>
            <div class="col-3">
              <select #lstSituation name="lstSituation" class="custom-select form-control">
                <option value="">Todas</option>
                <option *ngFor=" let situation of this.situationsList" value="{{situation.id}}">
                  {{situation.description}}</option>
              </select>
            </div>
            <div class="col-1">
              <label>Planos: </label>
            </div>
            <div class="col-3">
              <select #lstPlan name="lstPlan" class="custom-select form-control">
                <option value="">Todos</option>
                <option *ngFor="let plan of this.plansList" value="{{plan.id}}">
                  {{plan.description}}</option>
              </select>
            </div>
          </div>
          <div class="mt-2 mb-4">
            <button class="btn btn-warning margin mr-1"
              (click)="filterResults(lstConsultant.value, txtCustomerName.value, lstSituation.value, lstPlan.value)"
              type="button"><span class="fa fa-filter"></span>
              Filtrar</button>
            <button class="btn btn-warning margin"
              (click)="clearFilters(lstConsultant, txtCustomerName, lstSituation, lstPlan)" type="button"><span
                class="fa fa-times"></span>
              Limpar</button>
          </div>
          <p>Resultados: {{this.filteredCustomers.length}} de {{this.customers.length}}</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Consultor</th>
                  <th scope="col">Plano</th>
                  <th scope="col">Situação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="this.filteredCustomers.length == 0">
                  <td colspan="6">Não foram encontrados clientes com os filtros informados!</td>
                </tr>
                <tr *ngFor="let customer of this.filteredCustomers">
                  <td>
                    <h4><a href="javascript:void(0)"
                        (click)="goToCustomerTimeline(customer, $event);">{{customer.name}}</a>
                    </h4>
                  </td>
                  <td>{{(customer.consultant ? customer.consultant.name : 'Não atribuido')}}</td>
                  <td>{{(customer.plan ? customer.plan.description : 'Não informado')}}</td>
                  <td>{{(customer.situation ? customer.situation.description : 'Não informada')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>